.content-container4 {
    position: relative;
    min-height: 100vh;
    background: #e8e7e7 url('/theme_globe/ayurveda.png') no-repeat center center fixed;
    background-size: contain; 
    z-index: 1;
  }