.content-container6 {
    position: relative;
    min-height: 100vh;
    background: rgb(235, 235, 235) url('/theme_globe/beauty.png') no-repeat center center fixed;
    background-size: contain; 
    z-index: 1;
}