.content-container6 {
  position: relative;
  min-height: 100vh;
  background: rgb(235, 235, 235); // Just solid color
  z-index: 1;
  
  // Add pseudo-element for fixed background
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('/theme_globe/beauty.webp') no-repeat center center;
    background-size: contain;
    z-index: -1; // Behind content
    pointer-events: none;
  }
}