.content-container {
    position: relative;
    min-height: 100vh;
    background: #ededed url('/theme_globe/global_trade.webp') no-repeat center center fixed;
    background-size: contain; 
    z-index: 1;
  }