.content-container {
  position: relative;
  min-height: 100vh;
  background: #ededed; 
  z-index: 1;
  
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('/theme_globe/global_trade.webp') no-repeat center center;
    background-size: cover !important;
    z-index: -1; // Behind content
    pointer-events: none;
  }
}