.landing-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.spline-background {
    position: absolute;
    top: 50%;
    right: -100px;
    width: 40%;
    transform: translateY(-50%);
    height: 70%;
    z-index: 0;
    background-color: #000;
    
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
    .watermark-cover {
    position: absolute;
    bottom: 20px; // Adjust based on watermark position
    right: 10px;  // Adjust based on watermark position
    width: 150px; // Adjust to cover watermark width
    height: 40px; // Adjust to cover watermark height
    background-color: #000;
    z-index: 10;
}
}


.content-overlay {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.brand-title {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
}