.export-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    transform: translateY(-5px);
  }

  &__image {
    justify-self: center;
    width: 70%;
    height: 150px;
    overflow: hidden;
    @media (max-width: 1024px) {
      width: 50%;
    }
    @media (max-width: 763px) {
      height: 95px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    @media (max-width: 763px) {
      padding: 10px 5px;
    }
    
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2c2c2c;
    margin-bottom: 0.8rem;
    text-align: center;
    @media (max-width: 763px) {
      font-size: 1rem;
      margin-bottom: 0px;
    }
  }

  &__icon {
    font-size: 1.8rem;
  }

  &__description {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin: 0;
    text-align: center;
    @media (max-width: 763px) {
      font-size: 0.75rem;
    }
  }
}