.content-container2 {
    position: relative;
    min-height: 100vh;
    background: #ebebeb url('/theme_globe/agro.png') no-repeat center center fixed;
    background-size: contain; 
    z-index: 1;
}
