.content-container3 {
    position: relative;
    min-height: 100vh;
    background: #f8f8f8 url('/theme_globe/nutra.webp') no-repeat center center fixed;
    background-size: contain; 
    z-index: 1;
  }