.content-container1 {
    position: relative;
    min-height: 100vh;
    background: #e8e7e7 url('/theme_globe/bio-active.png') no-repeat center center fixed;
    background-size: contain; 
    z-index: 1;
}
