.content-container7 {
    position: relative;
    min-height: 100vh;
    background: rgb(225, 225, 225) url('/theme_globe/sustainable.png') no-repeat center center fixed;
    background-size: contain; 
    z-index: 1;
}