.export-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  &__image {
    justify-self: center;
    width: 70%;
    height: 150px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2c2c2c;
    margin-bottom: 0.8rem;
    text-align: center;
  }

  &__icon {
    font-size: 1.8rem;
  }

  &__description {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin: 0;
    text-align: center;
  }
}