.content-container5 {
    position: relative;
    min-height: 100vh;
    background: #dadada url('/theme_globe/marine.png') no-repeat center center fixed;
    background-size: contain; 
    z-index: 1;
  }